<div class="container mx-auto p-6">
  <h1 class="text-dashboard-title text-text mb-6">PATIENT MANAGEMENT</h1>
  
  <!-- Search and Filter Component -->
  <app-patient-search-filter
    [(searchQuery)]="searchQuery"
    [(filters)]="filters"
  ></app-patient-search-filter>
  
  <!-- Patient List Table Component -->
  <app-patient-list-table
    [patients]="paginatedPatients"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalPages]="totalPages"
    [pagesToShow]="pagesToShow"
    [isLoading]="isLoading"
    (pageChange)="changePage($event)"
    (viewPatient)="viewPatient($event)"
    (messagePatient)="messagePatient($event)"
    (exportData)="exportPatientData()"
  ></app-patient-list-table>
</div>
